// The Main Scss File.

.mybody {
	background-color: #f1f3f5;
	font-family: -apple-system,
		BlinkMacSystemFont,
		segoe ui,
		roboto,
		oxygen,
		ubuntu,
		cantarell,
		fira sans,
		droid sans,
		helvetica neue,
		sans-serif;
}

#home-h1 {
	font-size: calc(40px + 6 * ((100vw - 480px)/288));
}

.px-15 {
	padding-left: 15%;
	padding-right: 15%;
}
